@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    user-select: none;
    /*min-height: 768px;*/
    /*max-height: 1080px;*/
    /*min-width: 431px;*/
    /*max-width: 1920px;*/
}

header {
    margin: 0 auto;
    width: 100%;
}

#clouds {
    font-family: 'Press Start 2P', cursive;
    height: 50px;
    padding: 1.2rem 0;
    margin: 0 0;
    background-image: url("./../img/miss/clouds2.jpg");
    background-size: 100% 100%;

}

.score-container {
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    padding: 8px 6px;
    background: #9ae191;

    font-family: 'Press Start 2P', cursive;
}

.icon {
    padding: 0 0 0 5%;
}

canvas {
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    height: 100%;
    width: 100%;
}
