@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    user-select: none;
    /*min-height: 768px;*/
    /*max-height: 1080px;*/
    /*min-width: 431px;*/
    /*max-width: 1920px;*/
}
header {
    margin: 0 auto;
    /*width: 100%;*/
}
h1 {
    background: url("./../img/clouds.png");
    padding: 1.2rem 0;
    margin: 0;
}
.score-container {
    display: flex;
    justify-content: space-between;
    padding: 8px 6px;
    background: #5EE270;
}

canvas {
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    height: 100%;
    width: 100%;
}
